
#alles  { 
	height:600px;
	width:800px;
	display: grid; 
	grid-template-rows: repeat(15, 40px);
	grid-template-columns: repeat(20, 40px);
	background-image:url('weihnachtsmann.jpg');	   
	position:relative;	
}
div {
	background-color:transparent;
	border:1px dashed lightgoldenrodyellow;;
}
#t1 {
	grid-column-start:9; 
	grid-column-end:12;
	grid-row-start:12; 
	grid-row-end:13; 
}
#t2 {
	grid-column:17/20;  
	grid-row:2/4; 
}
#t3  {
	grid-column:2/5;  
	grid-row:2/4; 
}
#t4  {
	grid-column:2/4;  
	grid-row:10/12; 
}
#t5  {
	grid-column:8/11;  
	grid-row:14/15; 
}
#t6  {
	grid-column:8/11;  
	grid-row:7/11; 
}
#t7 {
	grid-column:13/15;  
	grid-row:2/6; 
}
#t8  {
	grid-column:16/20;  
	grid-row:8/10; 
}
#t9 {
	grid-column:2/3;  
	grid-row:13/15; 
}
#t10 {
	grid-column:6/8;  
	grid-row:2/4; 
}
#t11  {
	grid-column:12/14;  
	grid-row:14/15; 
}
#t12 {
	grid-column:9/12;  
	grid-row:4/6; 
}
#t13  {
	grid-column:4/7;  
	grid-row:7/9; 
}
#t14  {
	grid-column:4/7;  
	grid-row:14/15; 
}
#t15  {
	grid-column:12/15;  
	grid-row:7/9; 
}
#t16  {
	grid-column:18/20;  
	grid-row:5/7; 
}
#t17  {
	grid-column:2/3;  
	grid-row:6/9; 
}
#t18  {
	grid-column:13/14;  
	grid-row:10/13; 
}
#t19  {
	grid-column:16/17;  
	grid-row:5/7; 
}
#t20  {
	grid-column:9/12;  
	grid-row:2/3; 
}
#t21  {
	grid-column:4/7;  
	grid-row:5/6; 
}
#t22  {
	grid-column:7/8;  
	grid-row:12/13; 
}
#t23  {
	grid-column:5/6;  
	grid-row:10/13; 
}
#t24  {
	grid-column:15/20;  
	grid-row:11/15; 
	
}
div {
	text-align:center;

	color:red;
	font-size:36px;
}
#pergament{
	 background-image:url('pergament.png');
     background-size: cover;
     width:480px;
     height: 340px;
     position: absolute;
     left:160px;
     top:130px;
	 border:none;
}
.weg {
	display:none;
}
#pergament div {
	border:none;
	text-align:center;
}

	
